{% extends "layout.twig" %}

{% block title "Contact" %}






{% block content %}



    <div>


        <label>Primeiro nome:</label>
        <input type="text" ng-model="firstName">

        <label>Último nome:</label>
        <input type="text" ng-model="lastName">
        <hr>


        <h1>Nome: {{lastName  }}</h1>


        

    </div>






{% endblock %}

