{% extends "layout.twig" %}

{% block title "Contact" %}


{% block content %}




<div ng-controller="hello">
    <!-- chamamos a variavel que declaramos no .js  -->
    Hello {[{ name }]}
    <hr />
    <label>Name</label>
    <input ng-model="typeName" placeHolder="type your name please" /> <br />
    Hi  {[{ typeName }]}, <br />
    <br/>
    <br/>
    <label>Quantity of product</label>
    <input type="number"	  ng-model="qt"	required="required" />
    <label>Inform Price</label>
    <input	type="number" ng-model="price" required="required" />

{% endblock %}