<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="myApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">

    <title>Home</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Bree+Serif|Play' rel='stylesheet' type='text/css'>
    <link href="css/simple-sidebar.css" rel="stylesheet">



    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"></script>

    <script>
        var helloApp = angular.module("myApp", []);
        helloApp.controller("HelloCtrl", function($scope) {
            $scope.name = "Calvin Hobbes";
        });

        var countryApp = angular.module('myApp', []);
        countryApp.controller('CountryCtrl', ['$scope', '$http', function (scope, http){
            http.get('countries.json').success(function(data) {
                scope.countries = data;
            });
        }]);


        var CtrlLista = function($scope) {

            $scope.pessoas = [
                {nome: "Maria", cidade: "São Paulo"},
                {nome: "João", cidade: "Salvador"},
                {nome: "Tico", cidade: "Curitiba"},
                {nome: "Marta", cidade: "Pirapora"}
            ];

        };






    </script>

</head>
<body ng-controller="HelloCtrl">

    <div id="wrapper" >

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <div id="logo-top">

                <img src="../img/logo.png" width="220"  id="img-logo" />


            </div>

            <ul class="sidebar-nav">
                <li class="sidebar-brand">


                </li>
                <li>
                    <a href="/"><i class="fa fa-desktop" style="color: white;" aria-hidden="true"></i>
                        Computadores</a>
                </li>

                <li>
                    <a href="/atualizar"><i class="fa fa-refresh"  style="color: white; aria-hidden="true"></i>
                        Atualizações</a>
                </li>

                <li>
                    <a href="#"><i class="fa fa-plus" style="color: white;" aria-hidden="true"></i> Grupos</a>
                </li>


                <li>
                    <a href="/contact"><i class="fa fa-envelope" style="color: white;" aria-hidden="true"></i> Contato</a>
                </li>
            </ul>
        </div>




        <div ng-controller="CountryCtrl">
            <div class="col-md-6">
                <h2>Custom search field</h2>
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input type="text" class="form-control " placeholder="Buscar" ng-model="busca" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-small" type="button" style="padding: 9px;">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                    </div>
                </div>
            </div>
        </div>













</body>
</html>

